# docker-compose environment file
#
# When you set the same environment variable in multiple files,
# here’s the priority used by Compose to choose which value to use:
#
#  1. Compose file
#  2. Shell environment variables
#  3. Environment file
#  4. Dockerfile
#  5. Variable is not defined

# Wordpress Settings
WORDPRESS_LOCAL_HOME=./wordpress-data
WORDPRESS_PHP_CONFIG=./wordpress-config/php-config
WORDPRESS_FPM_CONFIG=./wordpress-config/fpm-config
WORDPRESS_DB_HOST=database:3306
WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=password123!

# MariaDB Settings
MYSQL_LOCAL_HOME=./mariadb-data
MYSQL_DATABASE=${WORDPRESS_DB_NAME}
MYSQL_USER=${WORDPRESS_DB_USER}
MYSQL_PASSWORD=${WORDPRESS_DB_PASSWORD}
MYSQL_ROOT_PASSWORD=rootpassword123!

# Nginx Settings
NGINX_CONF=./nginx/default.conf
NGINX_SSL_CERTS=./ssl
NGINX_LOGS=./logs/nginx

# Redis Settings
REDIS_ROOT_PASSWORD=password123
REDIS_LOCAL_HOME=./redis-data
REDIS_CONFIG=./redis-config


#phpMyAdmin
PHP_MY_ADMIN_PHP_CONF=./config/pma_php.ini
PHP_MY_ADMIN_PMA_CONF=./config/pma_config.php